/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#Content_margin {
    padding-top : 4%;
    padding-left : 10%;
    padding-right : 10%;
}



@media only screen and (max-width: 900px) {
  #Content_margin {
       padding-top : 4%;
       padding-left : 10%;
       padding-right : 10%;
    }
}

#welcome {
    font-size : 40px;
}

#Margin_me {
    margin : 35%;
}

#back_color {
    background-color : #00C479;
    height : 100vh;
}

#btn-color {
    background-color: #00C479;
}

#forgot-color {
    color : #00C479;
}

